<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!--External CSS-->

    <title>Sign Up</title>

    <style>
        .box{
            max-width: 65vh;
        }
    </style>
  </head>
  <body>
    <div class="wrapper">
        <section class="bg-primary min-vh-100 position-relative">
            {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {% for msg in msgs %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
            <form action="#" method="POST">
            <div class="container p-5 rounded shadow bg-light position-absolute top-50 start-50 translate-middle box">
                <h2 class="text-center mt-0 mb-4">Create an Account</h2>
                <div class="d-flex my-2">
                    <div class="form-floating me-1">
                        <input type="text" class="form-control" placeholder=" " name="fname"/>
                        <label>First Name</label>
                    </div>
                    <div class="form-floating ms-1">
                        <input type="text" class="form-control" placeholder=" " name="lname"/>
                        <label>Last Name</label>
                    </div>
                </div>
                <div class="form-floating my-2">
                    <input type="email" class="form-control" placeholder=" " name="email"/>
                    <label>Email address</label>
                </div>
                <div class="form-floating my-2">
                    <input type="password" class="form-control" placeholder=" " name="pswd"/>
                    <label>Password</label>
                </div>
                  
                <input type="submit" class="btn btn-primary btn-lg w-100 my-2" value="Sign Up">
                <p class="text-center mb-0 mt-3">Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
            </div>
            </form>
        </section>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--External JS-->
    
  </body>
</html>