{% extends 'base.html' %} {% block title %} Shorlisted Canditates{% endblock %} {% block content %}

<section class="bg-primary min-vh-100">
    <div class="container p-5 border">
        <h1 class="text-center text-white border">Selected Canditates</h1>

        <table class="table table-dark mt-5">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th> Name</th>
                    <th>Abstract Title</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nithinton Prakash</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Vishnu</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Viswa</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Nithin</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Sanker</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Vishak</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td> Roshan</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td> Prakash</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Aravind</td>
                    <td>Nano Technology</td>
                    <td>85</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>

{% endblock %}